/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css?family=Convergence|Droid+Sans');

body {
  font-family: 'Droid-Sans', arial, sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Convergence', arial, sans-serif !important; 
}

#sub-header {
  font-family: 'Droid-Sans', arial, sans-serif !important;
}

nav ul a,
nav .brand-logo, .collection-header {
  color: #444;
  text-transform: uppercase;
}

.slides li img {
  -webkit-filter: brightness(55%); /* Safari 6.0 - 9.0 */
  filter: brightness(55%);
}

.brand-logo img, .brand-logo {
  height: 100%;
}

.black-trans-bg{
  background-color: rgba(31, 31, 31, 0.7) !important
  }

.card .card-image .card-title {
  right: 0;
}

.brand-logo img {
  margin: 0 auto;
}

.slider {
  position: relative;
}

.header-title {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  top: 20%;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}