<!DOCTYPE html>
<html lang="en" ng-app="CopperWorksApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Copperworks Distilling</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="js/app.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div>
    <ul id="spirits" class="dropdown-content">
      <li><a href="#!">copperworks whiskey</a></li>
      <li><a href="#!">copperworks gin</a></li>
      <li><a href="#!">new barrel gin</a></li>
      <li><a href="#!">copperworks vodka</a></li>
      <li><a href="#!">whiskey aging kit</a></li>
      <li><a href="#!">beyond spirits</a></li>
      <li><a href="#!">cocktail recipes</a></li>
    </ul>
    <ul id="buy" class="dropdown-content">
      <li><a href="#!">online store</a></li>
      <li><a href="#!">in retail stores</a></li>
      <li><a href="#!">find in bars & restaurants</a></li>
    </ul>
    <ul id="visit" class="dropdown-content">
      <li><a href="#!">hours</a></li>
      <li><a href="#!">tasting and tours</a></li>
      <li><a href="#!">tour reservations</a></li>
      <li><a href="#!">rent our event space</a></li>
      <li><a href="#!">seattle waterfront</a></li>
      <li><a href="#!">directions and parking</a></li>
    </ul>
    <ul id="thedistillery" class="dropdown-content">
      <li><a href="#!">copper stills</a></li>
      <li><a href="#!">about distilling</a></li>
      <li><a href="#!">bottling parties</a></li>
    </ul>
    <ul id="about" class="dropdown-content">
      <li><a href="#!">team</a></li>
      <li><a href="#!">event space rental</a></li>
      <li><a href="#!">availability</a></li>
      <li><a href="#!">newsroom</a></li>
      <li><a href="#!">contact</a></li>
    </ul>
    <ul id="edit-database" class="dropdown-content">
      <li><a href="db.html">releases</a></li>
      <li><a href="editdb.html">edit</a></li>
    </ul>
  </div>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo"><img src="img/copperworkslogo.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="spirits">spirits</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="buy">buy</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="visit">visit</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="thedistillery">the distillery</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="about">about</a></li>
        <li><a href="#!">blog</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="edit-database">database</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav collection with-header">
        <li class="collection-header"><h5>spirits</h5></li>
        <li class="collection-item"><a href="#!">copperworks whiskey</a></li>
        <li class="collection-item"><a href="#!">copperworks gin</a></li>
        <li class="collection-item"><a href="#!">new barrel gin</a></li>
        <li class="collection-item"><a href="#!">copperworks vodka</a></li>
        <li class="collection-item"><a href="#!">whiskey aging kit</a></li>
        <li class="collection-item"><a href="#!">beyond spirits</a></li>
        <li class="collection-item"><a href="#!">cocktail recipes</a></li>

        <li class="collection-header"><h5>buy</h5></li>
        <li class="collection-item"><a href="#!">online store</a></li>
        <li class="collection-item"><a href="#!">in retail stores</a></li>
        <li class="collection-item"><a href="#!">find in bars & restaurants</a></li>

        <li class="collection-header"><h5>visit</h5></li>
        <li class="collection-item"><a href="#!">hours</a></li>
        <li class="collection-item"><a href="#!">tasting and tours</a></li>
        <li class="collection-item"><a href="#!">tour reservations</a></li>
        <li class="collection-item"><a href="#!">rent our event space</a></li>
        <li class="collection-item"><a href="#!">seattle waterfront</a></li>
        <li class="collection-item"><a href="#!">directions and parking</a></li>

        <li class="collection-header"><h5>the distillery</h5></li>
        <li class="collection-item"><a href="#!">copper stills</a></li>
        <li class="collection-item"><a href="#!">about distilling</a></li>
        <li class="collection-item"><a href="#!">bottling parties</a></li>

        <li class="collection-header"><h5>about</h5></li>
        <li class="collection-item"><a href="#!">team</a></li>
        <li class="collection-item"><a href="#!">event space rental</a></li>
        <li class="collection-item"><a href="#!">availability</a></li>
        <li class="collection-item"><a href="#!">newsroom</a></li>
        <li class="collection-item"><a href="#!">contact</a></li>
        
        <li class="collection-header"><h5>blog</h5></li>

        <li class="collection-header"><h5>database</h5></li>
        <li class="collection-item"><a href="db.html">releases</a></li>
        <li class="collection-item"><a href="editdb.html">edit</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    <div class="grey darken-4 white-text section">
        <h2 class=" center">Input Forms</h2>
    </div>

    <div class="row" ng-controller="EditDBController">
        <form class="col s12 m6 push-m3 section">

            <h3 class="col s12">Create Brew</h3>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">label_outline</i>
                    <input name="bname" id="recipe-name" type="text" class="validate" ng-model="bname">
                    <label for="recipe-name">Brew Name</label>
                </div>

                <h6 class="col s12">Brew Info:</h6>
                <div id="brew" class="row">
                    <div class="ibrew-row">
                        <div class="input-field col s6">
                            <input name="bnumber" id="brew-num" type="text" class="validate" ng-model="bnumber">
                            <label for="brew-num">Brew Number</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="bdate" id="brew-date" type="date" ng-model="bdate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h6 class="col s12">Recipe Ingredients:</h6>
                <div id="ingredients" class="row">
                    <div class="ingredient-row">
                        <div class="input-field col s5">
                            <input name="iname" id="ingredient-name" type="text" class="validate" ng-model="iname">
                            <label for="ingredient-name">Ingredient Name</label>
                        </div>
                        <div class="input-field col s5">
                            <input name="isource" id="ingredient-source" type="text" class="validate" ng-model="isource">
                            <label for="ingredient-source">Ingredient Source</label>
                        </div>
                        <div class="input-field col s2">
                            <input name="ipercent" id="ingredient-%" type="text" class="validate" ng-model="ipercent">
                            <label for="ingredient-%">%</label>
                        </div>
                    </div>
                    <a id="add-ingredient" class="col s2 offset-s10 btn waves-effect waves-light"><i class="material-icons">add</i></a>
                </div>
            </div>

            <div class="col s12">
                <button class="btn waves-effect waves-light" type="submit" ng-click="submitNewRecipe()" name="action">Submit
                <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>

 

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 white-text">
          <h5 class="white-text ">Contact Us</h5>
          <p>
            1250 Alaskan Way</br>
            Seattle, WA 98101</br>
            <a class="white-text" href="tel:206.504.7604">206.504.7604</a></br>
            <a class="white-text" href="mailto:Info@CopperworksDistilling.com">Info@CopperworksDistilling.com</a>
          </p>

          <p class="white-text">
            <a class="white-text" href="#!">Get reservations</a> for a tour.
            </br>
            <a class="white-text" href="#!">Join</a> our mailing list.
          </p>
        </div>

        <div class="col push-l3 l3 s12 white-text">
          <h5>Hours</h5>
            <p>Mon-Thur: 12pm-6pm</p>
            <p>Fri-Sat: 12pm-7pm</p>
            <p>Sun: 12pm-5pm</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <p>© 2012–2016. Copperworks Distilling. All Rights Reserved</p>
      <p><a href="#!">Privacy Statement</a> | <a href="#!">Terms of Service</a> </p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
